<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>JavaSyncUrlFetchDemo</servlet-name>
		<servlet-class>com.ikai.urlfetchdemo.JavaSyncUrlFetchDemoServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>JavaAsyncUrlFetchDemo</servlet-name>
		<servlet-class>com.ikai.urlfetchdemo.JavaAsyncUrlFetchDemoServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetTwitterFeed</servlet-name>
		<servlet-class>com.ikai.urlfetchdemo.GetTwitterFeedServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>JavaSyncUrlFetchDemo</servlet-name>
		<url-pattern>/sync</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JavaAsyncUrlFetchDemo</servlet-name>
		<url-pattern>/async</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GetTwitterFeed</servlet-name>
		<url-pattern>/twitter_feed</url-pattern>
	</servlet-mapping>
			
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
